* {
  margin: 0;
  padding: 0;
  font-family: Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
}

nav {
  padding: 1px 5% 1px 5%;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav div {
  display: flex;
}

nav select {
  margin: 10px 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-decoration-style: solid;
  position: relative;
  /*??*/
  border-radius: 2px;
  transition: text-shadow 0.5s;
  letter-spacing: 1px;
}

nav ul li a:hover {
  text-shadow: 2px 2px 4px #ff004f;
}

nav ul li a::after {
  content: '';
  background: #cf153c;
  position: absolute;
  width: 3px;
  height: 0;
  top: 0;
  left: -5px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  content: '';
  background: #cf153c;
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: -5px;
}

nav img {
  width: 140px;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/Sally_logo.png);
  background-size: cover;
  background-position: center;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 70px;
  margin-top: 20px;
  letter-spacing: 5px;
}

.header-text h1 span {
  color: #cf153c;
}

.sub-title {
  font-size: 50px;
  font-weight: 525;
  color: #fff;
  letter-spacing: 3px;
}

.container {
  padding: 50px 5%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-img {
  flex-basis: 35%;
}

.about-col-img img {
  width: 100%;
  border-radius: 15px;
}

.about-col-content {
  flex-basis: 60%;
}

.about-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.about-list div {
  margin: 20px 0;
  padding: 0 5px;
  width: 40%;
}

.about-list div i {
  font-size: 50px;
  margin-bottom: 5px;
}

.about-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}

.about-list div p {
  font-size: 20px;
  font-weight: 500;
}

/*
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: $main_red_color;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
*/
/* .tab-links:hover::after{
                content: '';
                width: 100%;
                height: 3px;
                background-color: #ff004f;
                position: absolute;
                left:0;
                bottom: -8px;
            } */
/*
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: $main_red_color;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

*/
.rate-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-gap: 60px;
  margin-top: 30px;
}

.ratetype-row {
  display: none;
}

.ratetype {
  grid-column: span 2;
  margin-left: 5px;
  font-size: 25px;
  font-style: italic;
  border-bottom: double;
  border-bottom-color: #ff004f;
  border-bottom-width: 5px;
}

.ratecard {
  background: #262626;
  padding: 20px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 8px #eb4e70;
}

.ratecard h3 {
  font-size: 25px;
}

.ratecard p {
  margin: 20px 0px;
  font-size: 35px;
}

.ratecard p span {
  font-size: 15px;
}

/* -----------------services----------------- */
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-top: 30px;
}

.services-list div {
  background: #262626;
  padding: 30px 25px;
  /* font-size: 13px;
        font-weight: 300; */
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div ul li {
  margin-top: 5px;
}

.services-list div ul li ul li {
  margin-left: 18px;
}

.services-list div:hover {
  background: #cf153c;
  transform: translateY(-10px);
}

/* -------------process------------------ */
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-top: 30px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
  object-fit: cover;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
}

.layer i {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 28px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.layer ul {
  font-size: 18px;
}

.btn {
  display: block;
  margin: 50px;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}

.contactrow {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
}

.contact-left {
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.contact-right {
  flex-basis: 60%;
}

.contact-right form {
  width: 100%;
}

.contact-right form input, .contact-right form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.contact-right form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px;
  background: #262626;
  margin-top: 20px;
  font-weight: 300;
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}

.chatGPT-form {
  margin-top: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-gap: 20px;
  max-width: 1500px;
}

.chatGPT-form .form-card {
  background-color: #262626;
  border-radius: 8px;
}

.chatGPT-form .formrow-title {
  display: flex;
  justify-content: center;
  padding: 10px 0 20px;
  font-size: 25px;
}

.chatGPT-form .formrow {
  display: flex;
  justify-content: left;
  padding: 5px 10px;
  font-size: 15px;
  margin-bottom: 5px;
}

.chatGPT-form .formrow label {
  flex-basis: 130px;
}

.chatGPT-form .custom_radio {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.chatGPT-form .custom_radio div {
  flex-basis: 50%;
  padding: 8px 0px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: 0 0 5px;
}

.chatGPT-form .custom_radio div:hover {
  text-shadow: 2px 2px 10px;
  box-shadow: 0px 0px 10px;
  cursor: pointer;
}

.chatGPT-form input, .chatGPT-form select {
  border: 0;
  background-color: #262626;
  box-shadow: 0px 0px 6px 1px #fff;
  color: #fff;
  padding: 0px 5px;
  border-radius: 3px;
  height: 30px;
  transition: 0.4s;
}

.chatGPT-form input:hover, .chatGPT-form select:hover {
  box-shadow: 0px 0px 10px 2px;
}

.chatGPT-form input[type=text] {
  width: 100px;
  font-size: 17px;
}

.chatGPT-form select {
  width: 95px;
  font-size: 14px;
}

.chatGPT-form .form-button {
  grid-column: -1/1;
  margin: 10px auto;
  font-size: 20px;
  cursor: pointer;
}

.active-link {
  background-color: #9e2842;
}

.chatGPT-report {
  display: none;
}

nav .fas {
  display: none;
}

@media screen and (max-width: 1200px) {
  .chatGPT-form {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
  }
  .chatGPT-form input[type=text] {
    width: 95px;
    font-size: 17px;
  }
  .chatGPT-form select {
    width: 90px;
    font-size: 14px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
    margin: 10px 20px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .rate-list {
    margin: 10px 30px 0px 0px;
    grid-gap: 30px 60px;
  }
  .ratetype {
    display: none;
  }
  .ratetype-row {
    grid-column: span 4;
    max-width: 50%;
    min-width: 322px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    cursor: pointer;
    background: #262626;
    border-radius: 5px;
  }
  .ratetype-row div {
    flex-basis: 50%;
    padding: 10px 0px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
  }
  .ratetype-row div:hover {
    text-shadow: 2px 2px 10px;
    box-shadow: 0px 0px 10px;
  }
  .ratecard {
    grid-column: span 2;
    display: none;
  }
  .ratecard.active {
    display: block;
  }
}

@media only screen and (max-width: 860px) {
  #header {
    background-image: url(images/Sally_logo_upright.jpg);
  }
  .about-col-img {
    flex-basis: 0%;
  }
  .about-col-img img {
    width: 0%;
  }
  .about-col-content {
    flex-basis: 100%;
  }
  .about-list div {
    width: 50%;
    padding: 10px;
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-img, .about-col-content {
    flex-basis: 100%;
  }
  .about-col-img {
    margin-bottom: 30px;
  }
  .about-col-content {
    font-size: 14px;
  }
  .about-list {
    font-size: 16px;
    margin-right: 20px;
  }
  .ratecard {
    grid-column: span 4;
  }
  .chatGPT-form {
    grid-template-columns: repeat(1, minmax(350px, 1fr));
  }
  .chatGPT-form input[type=text] {
    width: 95px;
    font-size: 17px;
  }
  .chatGPT-form select {
    width: 90px;
    font-size: 14px;
  }
  .contact-left, .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
}
